get micro statements - resolve conjunctions
extract similarities between the question and the subject verb objects of the microstatements - prune the microstatements with similarity less than threshold

OR

look for matching entities using NER

In [ ]:
!pip install -U spacy==2.1.0
!python -m spacy download en

!pip install Cython --install-option="–no-cython-compile"

!pip install neuralcoref

In [ ]:
pip install benepar

In [ ]:
!python -m spacy download en_core_web_md

In [ ]:
import nltk
nltk.download('punkt')

In [31]:
import pandas as pd

In [32]:
import spacy
nlp_pronoun = spacy.load('en')
import neuralcoref

In [ ]:
neuralcoref.add_to_pipe(nlp_pronoun,greedyness=0.52)

In [34]:
def replace(sentence):
  doc = nlp_pronoun(sentence)
  return doc._.coref_resolved

replace("john had 2 apples, he ate 1")

'john had 2 apples, john ate 1'

In [35]:
from google.colab import files
uploaded = files.upload()

Saving SVAMP.json to SVAMP (1).json

In [36]:
df = pd.read_json("SVAMP.json")
df

,ID,Body,Question,Equation,Answer,Type
0,chal-1,Each pack of dvds costs 76 dollars. If there i...,How much do you have to pay to buy each pack?,( 76.0 - 25.0 ),51,Subtraction
1,chal-2,Dan had $ 3 left with him after he bought a ca...,How much did the candy bar cost?,( 4.0 - 3.0 ),1,Subtraction
2,chal-3,Paco had 26 salty cookies and 17 sweet cookies...,How many salty cookies did Paco have left?,( 26.0 - 9.0 ),17,Subtraction
3,chal-4,43 children were riding on the bus. At the bus...,How many children got off the bus at the bus s...,( 43.0 - 21.0 ),22,Subtraction
4,chal-5,28 children were riding on the bus. At the bus...,How many more children got on the bus than tho...,( 30.0 - 28.0 ),2,Subtraction
...,...,...,...,...,...,...
995,chal-996,Paige was helping her mom plant flowers and to...,How many flower beds did they have?,( 36.0 / 12.0 ),3,Common-Division
996,chal-997,"At the zoo, a cage had 3 snakes and 75 alligat...",How many alligators were not hiding?,( 75.0 - 19.0 ),56,Subtraction
997,chal-998,Paige was helping her mom plant flowers and to...,How many flowers did they grow?,( 60.0 * ( 55.0 / 15.0 ) ),220,Multiplication
998,chal-999,Mary is baking a cake. The recipe calls for 7 ...,How many more cups of sugar does she need to add?,( 7.0 - 4.0 ),3,Subtraction
999,chal-1000,The grasshopper and the frog had a jumping con...,How far did the frog jump?,( 13.0 - 2.0 ),11,Subtraction

In [37]:
df['Body'] = [df['Body'][i] + ". " + df['Question'][i] for i in range(len(df))]
df['replaced_pronoun'] = df['Body'].apply(lambda a: replace(a))

df

,ID,Body,Question,Equation,Answer,Type,replaced_pronoun
0,chal-1,Each pack of dvds costs 76 dollars. If there i...,How much do you have to pay to buy each pack?,( 76.0 - 25.0 ),51,Subtraction,Each pack of dvds costs 76 dollars. If there i...
1,chal-2,Dan had $ 3 left with him after he bought a ca...,How much did the candy bar cost?,( 4.0 - 3.0 ),1,Subtraction,Dan had $ 3 left with Dan after Dan bought a c...
2,chal-3,Paco had 26 salty cookies and 17 sweet cookies...,How many salty cookies did Paco have left?,( 26.0 - 9.0 ),17,Subtraction,Paco had 26 salty cookies and 17 sweet cookies...
3,chal-4,43 children were riding on the bus. At the bus...,How many children got off the bus at the bus s...,( 43.0 - 21.0 ),22,Subtraction,43 children were riding on the bus. At the bus...
4,chal-5,28 children were riding on the bus. At the bus...,How many more children got on the bus than tho...,( 30.0 - 28.0 ),2,Subtraction,28 children were riding on the bus. At the bus...
...,...,...,...,...,...,...,...
995,chal-996,Paige was helping her mom plant flowers and to...,How many flower beds did they have?,( 36.0 / 12.0 ),3,Common-Division,Paige was helping Paige mom plant flowers and ...
996,chal-997,"At the zoo, a cage had 3 snakes and 75 alligat...",How many alligators were not hiding?,( 75.0 - 19.0 ),56,Subtraction,"At the zoo, a cage had 3 snakes and 75 alligat..."
997,chal-998,Paige was helping her mom plant flowers and to...,How many flowers did they grow?,( 60.0 * ( 55.0 / 15.0 ) ),220,Multiplication,Paige was helping Paige mom plant flowers and ...
998,chal-999,Mary is baking a cake. The recipe calls for 7 ...,How many more cups of sugar does she need to add?,( 7.0 - 4.0 ),3,Subtraction,Mary is baking a cake. The recipe calls for 7 ...
999,chal-1000,The grasshopper and the frog had a jumping con...,How far did the frog jump?,( 13.0 - 2.0 ),11,Subtraction,The grasshopper and the frog had a jumping con...

Error: Runtime no longer has a reference to this dataframe, please re-run this cell and try again.

In [ ]:
!spacy download en

In [ ]:
import benepar
import spacy
benepar.download('benepar_en3')
nlp = spacy.load('en_core_web_sm')
if spacy.__version__.startswith('2'):
        nlp.add_pipe(benepar.BeneparComponent("benepar_en3"))
else:
        nlp.add_pipe("benepar", config={"model": "benepar_en3"})

In [40]:
def extract_sub_verb_object(sentence):
    subject = ""
    verb_phrase = ""
    preposition_phrase = ""
    #dependency_tree = sent1._.parse_string
    doc = nlp(sentence)
    sent = list(doc.sents)[0]
    dependency_tree = sent._.parse_string
    sb = 1
    vb = 0
    pb = 0

    for i in range(len(dependency_tree)):
      ch = dependency_tree[i]

      if sb == 1:
        if (ch.islower()==True or ch.isdigit()==True or ch==" " or ch=="," ):
          if( (subject[:-1]!=" " and ch==" ") or ch!=" "):
              subject = subject+ch

        
      
        elif ch=="V":
          sb = 0
          vb = 1
          continue

        
      if vb == 1:
        if (ch.islower()==True or ch.isdigit()==True or ch==" " or ch==","):
          if( (verb_phrase[:-1]!=" " and ch==" ") or ch!=" "):
            verb_phrase = verb_phrase+ch
          
        elif ch=="N" and dependency_tree[i+1] == "P":
          vb = 0
          pb = 1
          continue

      if pb == 1:
          if (ch.islower()==True or ch.isdigit()==True or ch==" " or ch==","):
            if( (preposition_phrase[:-1]!=" " and ch==" ") or ch!=" "):
              preposition_phrase = preposition_phrase+ch
          
        
         
      
    return {"subject":subject.strip(), "verb":verb_phrase.strip(), "object":preposition_phrase.strip()}

In [41]:
def split_conj(sent_list):

  sub = ""
  l = list()

  for i in sent_list:
    
    if i!="and":
      
        sub = sub+" "+i
       
 
    else:
      if sub!="":
        l.append(sub)
    
        sub = ""

  l.append(sub)


  return l

In [42]:
def handle_conjunction(sentence):
  d = extract_sub_verb_object(sentence)

  subject = d["subject"].replace(",","and")
  verb = d["verb"].replace(",","and")
  obj = d["object"].replace(",","and")
  subject_tokens = [i for i in subject.split(' ') if i != ' ']
  verb_tokens = [i for i in verb.split(' ') if i!= ' ']
  obj_tokens = [i for i in obj.split(' ') if i!=''] 
  sentences = list()
  if "and" in subject_tokens:
    split_subject = split_conj(subject_tokens)
    
    for i in split_subject:
      sentences.append(i+" "+verb+" "+obj)
    return sentences
  if "and" in obj_tokens:
    
    split_obj = split_conj(obj_tokens)
  
    
    for i in split_obj:
      sentences.append(subject+" " + verb+" "+ i)
  
    return sentences
  else:
    sentences.append(subject+" "+verb+" "+obj)
    return sentences

In [43]:
from nltk.tokenize import sent_tokenize
def split_mwp(mwp):
  
  mwp_split_temp = sent_tokenize(mwp)
  mwp_split = list()
  for i in mwp_split_temp:
    temp = handle_conjunction(i)
    for j in temp:
      mwp_split.append(j.strip())
  return mwp_split

In [44]:
mwp = df['replaced_pronoun'][0]
question = df['Question'][0]
print(split_mwp(mwp))

/usr/local/lib/python3.7/dist-packages/torch/distributions/distribution.py:46: UserWarning: <class 'torch_struct.distributions.TreeCRF'> does not define `arg_constraints`. Please set `arg_constraints = {}` or initialize the distribution with `validate_args=False` to turn off validation.
  'with `validate_args=False` to turn off validation.')

['ach  pack   of   dvds costs 76  dollars', 'f    there is a  discount   of   25  dollars   on   each  pack', 'ow  much do you   have    to   pay    to   buy   each  pack']

In [45]:
extract_sub_verb_object(question)

{'subject': 'ow  much',
 'verb': 'do',
 'object': 'you   have    to   pay    to   buy   each  pack'}

In [ ]:
!spacy download en_core_web_lg

In [60]:
def prune(microstatements, threshold=0.5):
  """
  @param microstatements: list(str)
  @return pruned: list(str) subset of microstatements
  """
  #print(extract_sub_verb_object(microstatements[-1]))

  import en_core_web_lg
  nlp = en_core_web_lg.load()
  q = nlp(microstatements[-1])
  Q = extract_sub_verb_object(microstatements[-1])
  microstatements.pop()
  q_s = nlp(Q['subject'])
  q_v = nlp(Q['verb'])
  q_o = nlp(Q['object'])
  res = []
  # extract similarity
  for statement in microstatements:
    ms_svo = extract_sub_verb_object(statement)
    #print(ms_svo)
    ms_s = nlp(ms_svo['subject'])
    ms_v = nlp(ms_svo['verb'])
    ms_o = nlp(ms_svo['object'])
    #print(extract_sub_verb_object(statement))
    similarities = {}
    similarities['subject'] = q_s.similarity(ms_s)
    similarities['verb'] = q_v.similarity(ms_v)
    similarities['object'] = q_o.similarity(ms_o)
    #print(similarities)
    ms = nlp(statement)
    sim = q.similarity(ms)
    if sim > threshold: 
      res.append(statement)
  return res

prune(split_mwp(mwp))

['ach  pack   of   dvds costs 76  dollars',
 'f    there is a  discount   of   25  dollars   on   each  pack']