In [1]:
import pandas as pd
import json
import re

In [2]:
with open('SVAMP.json', 'r') as data_file:
    json_data = data_file.read()

In [3]:
train_df = pd.read_json(json_data, orient='records')

In [4]:
statements = []
for i in train_df.Body:
    sent= i.strip().split(".")
    for j in sent:
        j = j.strip()
        if j!="":
            if j[0:2]!="If":
                statements.append(j.lower())
            else:
                statements.append(j[3:].lower())
t_statements =[]
for i in range(len(statements)):
    t_statements.append("".join(e for e in statements[i] if (e.isalpha() or e==' ')))
    t_statements[i] = [re.sub(' +', ' ', t_statements[i]), 0]

In [5]:
questions = []
for i in train_df.Question:
    questions.append(i.lower())
t_questions =[]
for i in questions:
    t_questions.append(["".join(e for e in i if (e.isalpha() or e==' ')), 1])

In [6]:
data = t_statements + t_questions

In [7]:
vocab_data = []
for i in data:
    vocab_data.append(i[0])

In [8]:
df = pd.DataFrame(data, columns=['text','type'])

In [9]:
df = df.sample(frac = 1)

In [10]:
df

                                                   text  type
2687                     how many marbles did doug lose     1
765                    the second chapter is pages long     0
3128   how many more cakes than pastries did baker sell     1
766   there are different movies and different books...     0
1344   there were parents in the program and pupils too     0
...                                                 ...   ...
2373     how many more bottles than apple did they have     1
2390        how many bottles of diet soda did they have     1
782       after a typhoon trees in haleys backyard died     0
2147                              her room is feet long     0
983                          each chapter is pages long     0

[3217 rows x 2 columns]

In [11]:
import tensorflow as tf
from tensorflow import keras
import numpy as np

C:\Users\Naveeta\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Naveeta\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Naveeta\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Naveeta\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Naveeta\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Naveeta\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(min_df=0, lowercase=False)
vectorizer.fit(vocab_data)
vectorizer.vocabulary_

{'each': 227,
 'pack': 508,
 'of': 486,
 'dvds': 226,
 'costs': 171,
 'dollars': 218,
 'there': 729,
 'is': 373,
 'discount': 213,
 'on': 492,
 'dan': 187,
 'had': 334,
 'left': 415,
 'with': 822,
 'him': 354,
 'after': 12,
 'he': 343,
 'bought': 94,
 'candy': 124,
 'bar': 60,
 'at': 40,
 'the': 725,
 'start': 683,
 'paco': 512,
 'salty': 620,
 'cookies': 167,
 'and': 25,
 'sweet': 709,
 'ate': 41,
 'children': 144,
 'were': 806,
 'riding': 598,
 'bus': 107,
 'stop': 693,
 'some': 671,
 'got': 312,
 'off': 487,
 'then': 728,
 'while': 813,
 'altogether': 21,
 'in': 365,
 'olivias': 491,
 'wallet': 783,
 'she': 647,
 'collected': 154,
 'more': 459,
 'from': 291,
 'an': 24,
 'atm': 42,
 'visited': 779,
 'supermarket': 707,
 'jerry': 381,
 'action': 4,
 'figures': 264,
 'shelf': 648,
 'his': 356,
 'room': 606,
 'later': 409,
 'added': 7,
 'to': 745,
 'are': 34,
 'total': 753,
 'now': 482,
 'gave': 301,
 'friend': 288,
 'mary': 446,
 'baking': 55,
 'cake': 116,
 'recipe': 585,
 'calls': 118,
 'for': 283,
 'cups': 181,
 'sugar': 702,
 'flour': 277,
 'salt': 618,
 'already': 19,
 'put': 571,
 'waiter': 781,
 'customers': 183,
 'still': 692,
 'birds': 80,
 'sitting': 660,
 'fence': 260,
 'storks': 696,
 'came': 119,
 'join': 392,
 'them': 727,
 'they': 731,
 'decided': 196,
 'hold': 357,
 'party': 523,
 'their': 726,
 'backyard': 47,
 'have': 341,
 'sets': 646,
 'tables': 712,
 'set': 645,
 'has': 340,
 'chairs': 137,
 'school': 624,
 'girls': 304,
 'than': 722,
 'boys': 98,
 'resting': 596,
 'go': 309,
 'swim': 710,
 'depth': 206,
 'water': 793,
 'times': 744,
 'deans': 194,
 'height': 345,
 'dean': 193,
 'feet': 259,
 'taller': 717,
 'ron': 604,
 'stands': 682,
 'marco': 444,
 'dad': 185,
 'went': 805,
 'strawberry': 698,
 'picking': 539,
 'together': 747,
 'strawberries': 697,
 'that': 724,
 'weighed': 802,
 'pounds': 560,
 'way': 795,
 'back': 46,
 'lost': 428,
 'marcos': 445,
 'rest': 595,
 'joined': 393,
 'danny': 188,
 'collects': 157,
 'bottle': 92,
 'caps': 126,
 'wrappers': 832,
 'found': 284,
 'park': 520,
 'collection': 156,
 'paul': 526,
 'box': 95,
 'erasers': 247,
 'crayons': 177,
 'birthday': 81,
 'end': 242,
 'year': 834,
 'only': 495,
 'not': 481,
 'having': 342,
 'single': 658,
 'eraser': 246,
 'baker': 53,
 'made': 434,
 'cakes': 117,
 'sold': 670,
 'new': 475,
 'industrial': 368,
 'machine': 433,
 'worked': 827,
 'minutes': 455,
 'it': 374,
 'can': 122,
 'make': 439,
 'shirts': 651,
 'minute': 454,
 'bananas': 59,
 'philips': 534,
 'organized': 501,
 'into': 370,
 'groups': 324,
 'size': 661,
 'banana': 58,
 'removed': 592,
 'old': 489,
 'ones': 494,
 'because': 67,
 'decision': 197,
 'sofia': 669,
 'asked': 39,
 'students': 700,
 'suggest': 703,
 'specific': 675,
 'types': 769,
 'food': 282,
 'choices': 148,
 'suggested': 704,
 'adding': 8,
 'mashed': 447,
 'potatoes': 558,
 'bacon': 48,
 'menu': 452,
 'did': 207,
 'participate': 521,
 'matthew': 449,
 'equal': 244,
 'numbers': 485,
 'crackers': 176,
 'friends': 289,
 'initially': 369,
 'grocery': 322,
 'store': 695,
 'bottles': 93,
 'regular': 588,
 'soda': 668,
 'diet': 209,
 'lite': 421,
 'one': 493,
 'costing': 170,
 'same': 621,
 'amount': 23,
 'money': 458,
 'tiffany': 739,
 'was': 788,
 'collecting': 155,
 'cans': 125,
 'recycling': 586,
 'monday': 457,
 'bags': 50,
 'next': 477,
 'day': 191,
 'worth': 830,
 'roses': 608,
 'orchids': 498,
 'vase': 778,
 'jessica': 386,
 'cut': 184,
 'her': 349,
 'flower': 278,
 'garden': 299,
 'baskets': 63,
 'peaches': 528,
 'basket': 62,
 'red': 587,
 'green': 319,
 'all': 15,
 'spent': 679,
 'jack': 376,
 'received': 584,
 'emails': 240,
 'morning': 460,
 'afternoon': 13,
 'evening': 248,
 'eating': 235,
 'hearty': 344,
 'meal': 450,
 'see': 635,
 'buckingham': 105,
 'palace': 517,
 'rachel': 572,
 'learned': 411,
 'visitors': 780,
 'previous': 565,
 'gwens': 332,
 'mom': 456,
 'oranges': 497,
 'different': 210,
 'books': 88,
 'movies': 465,
 'crazy': 178,
 'silly': 656,
 'series': 644,
 'you': 839,
 'read': 580,
 'watched': 792,
 'needs': 473,
 'luke': 432,
 'played': 552,
 'rounds': 610,
 'trivia': 763,
 'game': 296,
 'gained': 295,
 'points': 555,
 'round': 609,
 'grasshopper': 318,
 'frog': 290,
 'mouse': 464,
 'jumping': 398,
 'contest': 165,
 'jumped': 397,
 'inches': 366,
 'lesser': 418,
 'who': 815,
 'farther': 255,
 'zachary': 840,
 'pushups': 570,
 'crunches': 180,
 'gym': 333,
 'class': 149,
 'today': 746,
 'david': 190,
 'but': 109,
 'less': 417,
 'julia': 395,
 'tag': 713,
 'kids': 404,
 'tuesday': 767,
 'hours': 360,
 'play': 551,
 'both': 91,
 'days': 192,
 'nell': 474,
 'cards': 127,
 'baseball': 61,
 'ace': 2,
 'jeff': 380,
 'zoo': 841,
 'cage': 115,
 'snakes': 666,
 'alligators': 17,
 'hiding': 352,
 'emily': 241,
 'making': 441,
 'bead': 65,
 'necklaces': 470,
 'beads': 66,
 'able': 0,
 'frank': 285,
 'pieces': 540,
 'bag': 49,
 'farmer': 254,
 'tomatoes': 749,
 'picked': 537,
 'yesterday': 836,
 'yellow': 835,
 'winter': 821,
 'almost': 18,
 'here': 350,
 'most': 461,
 'animals': 26,
 'migrating': 453,
 'warmer': 787,
 'countries': 173,
 'bird': 79,
 'families': 252,
 'living': 423,
 'near': 468,
 'mountain': 463,
 'flew': 274,
 'away': 45,
 'paintings': 516,
 'necklace': 469,
 'takes': 715,
 'also': 20,
 'aquariums': 31,
 'saltwater': 619,
 'aquarium': 30,
 'every': 249,
 'number': 484,
 'pastries': 525,
 'dave': 189,
 'files': 265,
 'apps': 29,
 'phone': 535,
 'deleting': 202,
 'rebecca': 582,
 'wants': 786,
 'split': 680,
 'eggs': 238,
 'marbles': 443,
 'olivia': 490,
 'lewis': 420,
 'earns': 232,
 'week': 798,
 'during': 225,
 'weeks': 800,
 'harvest': 338,
 'season': 628,
 'others': 503,
 'letters': 419,
 'as': 37,
 'well': 804,
 'complete': 161,
 'pages': 513,
 'reading': 581,
 'homework': 359,
 'math': 448,
 'allan': 16,
 'brought': 103,
 'balloons': 56,
 'jake': 378,
 'wednesday': 797,
 'razorback': 578,
 'shop': 652,
 'makes': 440,
 'jersey': 382,
 'tshirt': 765,
 'arkansas': 35,
 'texas': 721,
 'tech': 720,
 'tshirts': 766,
 'jerseys': 383,
 'brendas': 100,
 'mother': 462,
 'guests': 328,
 'where': 811,
 'randy': 576,
 'blocks': 83,
 'uses': 777,
 'build': 106,
 'house': 361,
 'tower': 754,
 'selling': 638,
 'josh': 394,
 'chocolate': 147,
 'ed': 236,
 'doug': 219,
 'playground': 553,
 'through': 736,
 'favorite': 256,
 'book': 87,
 'took': 751,
 'finish': 270,
 'yet': 838,
 'earlier': 228,
 'faye': 257,
 'placing': 545,
 'pencils': 529,
 'rows': 613,
 'row': 611,
 'summer': 706,
 'break': 99,
 'lawrence': 410,
 'county': 174,
 'camp': 120,
 'stay': 686,
 'home': 358,
 'pots': 559,
 'pot': 557,
 'flowers': 281,
 'sticks': 691,
 'chef': 143,
 'apples': 28,
 'pies': 541,
 'used': 776,
 'candies': 123,
 'being': 75,
 'harvested': 339,
 'out': 504,
 'sacks': 616,
 'per': 532,
 'sack': 615,
 'containes': 163,
 'packs': 511,
 'campers': 121,
 'rowing': 612,
 'helen': 346,
 'hippo': 355,
 'preparing': 563,
 'thanksgiving': 723,
 'helens': 347,
 'baked': 52,
 'chip': 146,
 'raisin': 575,
 'this': 733,
 'threw': 735,
 'kelly': 403,
 'nintendo': 479,
 'games': 297,
 'buys': 112,
 'white': 814,
 'be': 64,
 'purchased': 569,
 'packages': 510,
 'last': 407,
 'fred': 286,
 'jason': 379,
 'over': 506,
 'weekend': 799,
 'delivered': 204,
 'newspapers': 476,
 'earning': 231,
 'washed': 789,
 'cars': 131,
 'jessie': 387,
 'started': 684,
 'jogging': 390,
 'everyday': 250,
 'kilograms': 405,
 'before': 71,
 'beginning': 73,
 'mailman': 437,
 'give': 305,
 'junk': 399,
 'mail': 436,
 'block': 82,
 'houses': 362,
 'chapters': 140,
 'first': 271,
 'chapter': 139,
 'long': 424,
 'second': 632,
 'third': 732,
 'paige': 514,
 'helping': 348,
 'plant': 549,
 'seeds': 636,
 'bed': 68,
 'planted': 550,
 'altogther': 22,
 'checklist': 142,
 'wax': 794,
 'stick': 690,
 'feathers': 258,
 'require': 594,
 'shorter': 653,
 'gardens': 300,
 'flowerbeds': 280,
 'carol': 129,
 'sending': 641,
 'invitations': 371,
 'package': 509,
 'planning': 548,
 'field': 263,
 'trip': 762,
 'classrooms': 151,
 'classroom': 150,
 'seats': 631,
 'raised': 574,
 'goldfish': 311,
 'catfish': 134,
 'pond': 556,
 'stray': 699,
 'cats': 135,
 'loved': 430,
 'steven': 688,
 'fewer': 262,
 'jill': 388,
 'garage': 298,
 'sale': 617,
 'extra': 251,
 'stayed': 687,
 'other': 502,
 'additional': 10,
 'outside': 505,
 'attended': 44,
 'which': 812,
 'apple': 27,
 'walls': 784,
 'would': 831,
 'use': 775,
 'large': 406,
 'planks': 547,
 'wood': 825,
 'plank': 546,
 'nails': 467,
 'secured': 634,
 'addition': 9,
 'needed': 472,
 'smaller': 665,
 'equally': 245,
 'haley': 336,
 'love': 429,
 'distributes': 215,
 'people': 531,
 'will': 819,
 'attend': 43,
 'trees': 760,
 'ferris': 261,
 'wheel': 808,
 'paradise': 518,
 'small': 664,
 'seat': 630,
 'debby': 195,
 'when': 810,
 'drank': 220,
 'by': 113,
 'bryan': 104,
 'look': 426,
 'magazines': 435,
 'bookshelves': 90,
 'biology': 78,
 'ryan': 614,
 'spends': 678,
 'learning': 412,
 'english': 243,
 'chinese': 145,
 'spanish': 674,
 'shirley': 650,
 'cases': 133,
 'boxes': 96,
 'trefoils': 761,
 'we': 796,
 'ordered': 500,
 'pizzas': 543,
 'pizza': 542,
 'slices': 663,
 'us': 774,
 'adam': 5,
 'could': 172,
 'fit': 273,
 'cabinets': 114,
 'shelves': 649,
 'haleys': 337,
 'gives': 307,
 'boy': 97,
 'secure': 633,
 'edward': 237,
 'buy': 110,
 'pens': 530,
 'either': 239,
 'or': 496,
 'given': 306,
 'ripe': 601,
 'tree': 759,
 'those': 734,
 'unripe': 772,
 'john': 391,
 'live': 422,
 'arctic': 33,
 'further': 294,
 'south': 673,
 'jesses': 385,
 'rooms': 607,
 'wide': 817,
 'lucy': 431,
 'cookie': 166,
 'change': 138,
 'remaining': 590,
 'dads': 186,
 'robin': 602,
 'gum': 329,
 'giving': 308,
 'melissa': 451,
 'scored': 626,
 'scoring': 627,
 'ring': 600,
 'toss': 752,
 'carnival': 128,
 'come': 159,
 'prepared': 562,
 'guest': 327,
 'jesse': 384,
 'carpet': 130,
 'square': 681,
 'cover': 175,
 'currently': 182,
 'weighs': 803,
 'hiking': 353,
 'need': 471,
 'drinks': 222,
 'parents': 519,
 'program': 567,
 'colors': 158,
 'paint': 515,
 'right': 599,
 'just': 400,
 'work': 826,
 'freshwater': 287,
 'katie': 401,
 'ds': 224,
 'saved': 622,
 'checking': 141,
 'grapevines': 317,
 'told': 748,
 'pickers': 538,
 'fill': 266,
 'drums': 223,
 'grapes': 316,
 'bookshelf': 89,
 'contains': 164,
 'bobby': 85,
 'grew': 320,
 'typhoon': 770,
 'died': 208,
 'grown': 326,
 'table': 711,
 'arcade': 32,
 'won': 824,
 'tickets': 738,
 'toys': 755,
 'africa': 11,
 'asia': 38,
 'ride': 597,
 'time': 743,
 'playing': 554,
 'jackie': 377,
 'robins': 603,
 'hair': 335,
 'clothes': 152,
 'earned': 230,
 'sony': 672,
 'balls': 57,
 'skittles': 662,
 'stevens': 689,
 'sells': 639,
 'offered': 488,
 'distributed': 214,
 'sent': 643,
 'raspberries': 577,
 'mails': 438,
 'invite': 372,
 'scales': 623,
 'rons': 605,
 'lasted': 408,
 'pay': 527,
 'rent': 593,
 'pupils': 568,
 'teachers': 719,
 'train': 756,
 'arrived': 36,
 'do': 216,
 'nt': 483,
 'want': 785,
 'gums': 330,
 'buses': 108,
 'fully': 293,
 'filled': 267,
 'since': 657,
 'discard': 212,
 'learns': 413,
 'sends': 642,
 'rachels': 573,
 'too': 750,
 'grades': 314,
 'grade': 313,
 'cave': 136,
 'deep': 198,
 'travelling': 758,
 'speed': 676,
 'keep': 402,
 'herself': 351,
 'full': 292,
 'increased': 367,
 'prices': 566,
 'add': 6,
 'wtih': 833,
 'broken': 102,
 'again': 14,
 'thereafter': 730,
 'cooler': 168,
 'between': 76,
 'group': 323,
 'buying': 111,
 'across': 3,
 'contain': 162,
 'finding': 269,
 'throw': 737,
 'such': 701,
 'travel': 757,
 'eaten': 234,
 'deleted': 201,
 'showroom': 655,
 'bob': 84,
 'bakers': 54,
 'leaving': 414,
 'tax': 718,
 'tile': 740,
 'many': 442,
 'trousers': 764,
 'within': 823,
 'past': 524,
 'stops': 694,
 'behind': 74,
 'working': 828,
 'overtime': 507,
 'works': 829,
 'bonus': 86,
 'tall': 716,
 'how': 363,
 'much': 466,
 'cost': 169,
 'collect': 153,
 'eat': 233,
 'does': 217,
 'weigh': 801,
 'been': 70,
 'remove': 591,
 'find': 268,
 'participated': 522,
 'suggestion': 705,
 'items': 375,
 'person': 533,
 'receive': 583,
 'big': 77,
 'score': 625,
 'far': 253,
 'jump': 396,
 'pick': 536,
 'delete': 200,
 'earn': 229,
 'if': 364,
 'seasons': 629,
 'bring': 101,
 'what': 807,
 'spend': 677,
 'about': 1,
 'remained': 589,
 'yesterdays': 837,
 'bake': 51,
 'so': 667,
 'washing': 790,
 'should': 654,
 'beds': 69,
 'deeper': 199,
 'grams': 315,
 'take': 714,
 'no': 480,
 'gets': 303,
 'fishes': 272,
 'disappeared': 211,
 'wall': 782,
 'prepare': 561,
 'sell': 637,
 'deliver': 203,
 'case': 132,
 'order': 499,
 'created': 179,
 'till': 742,
 'night': 478,
 'begin': 72,
 'compared': 160,
 'lose': 427,
 'floors': 276,
 'groceries': 321,
 'flowerbed': 279,
 'length': 416,
 'starting': 685,
 'jog': 389,
 'present': 564,
 'drink': 221,
 'tyler': 768,
 'watch': 791,
 'grow': 325,
 'survived': 708,
 'win': 820,
 'longer': 425,
 'delivering': 205,
 'wheels': 809,
 'going': 310,
 'whole': 816,
 'floor': 275,
 'sit': 659,
 'place': 544,
 'get': 302,
 'send': 640,
 'until': 773,
 'reach': 579,
 'gwen': 331,
 'width': 818,
 'tiles': 741,
 'unoccupied': 771}

In [13]:
vectorizer.transform(vocab_data).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [14]:
from sklearn.model_selection import train_test_split
sentences = df['text'].values
y = df['type'].values
sentences_train, sentences_test, y_train, y_test = train_test_split(sentences, y, test_size =  0.25, random_state = 1000)

In [15]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
vectorizer.fit(sentences_train)
X_train = vectorizer.transform(sentences_train)
X_test  = vectorizer.transform(sentences_test)
X_train

<2412x820 sparse matrix of type '<class 'numpy.int64'>'
	with 19661 stored elements in Compressed Sparse Row format>

In [16]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
score = classifier.score(X_test, y_test)
print("Accuracy:", score)

Accuracy: 0.9987577639751553

In [17]:
from keras.models import Sequential
from keras import layers
input_dim = X_train.shape[1]  # Number of features

model = Sequential()
model.add(layers.Dense(10, input_dim=input_dim, activation='relu'))
model.add(layers.Dense(1, activation='sigmoid'))

WARNING:tensorflow:From C:\Users\Naveeta\Anaconda3\lib\site-packages\tensorflow\python\ops\resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

Using TensorFlow backend.

In [18]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 10)                8210
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 11
=================================================================
Total params: 8,221
Trainable params: 8,221
Non-trainable params: 0
_________________________________________________________________

In [ ]:
history = model.fit(X_train, y_train,epochs=100,verbose=False,validation_data=(X_test, y_test),batch_size=10)

WARNING:tensorflow:From C:\Users\Naveeta\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

In [ ]:
loss, accuracy = model.evaluate(X_test, y_test, verbose=False)
print("Accuracy:",accuracy)