# Operation Identification using Deep Learning
Each record in our dataset, SVAMP.json will be preprocessed.
The preprocessed records will be fed to a model which then identifies which one of the four operations is expected of the answer to that question. 

Since this deals only with elemnetary school level math problems, we assume that the only 4 operations are addition, subtraction, multiplication and division. There is no possibility of getting negative, decimal, fractional or profit loss questions.

## 1. Pre-Process SVAMP Dataset

1.1 Import Statements

In [13]:
import pandas as pd

import string

1.2 Import JSON dataset into Dataframe

In [3]:
def readJsonToDf(path):
    df = pd.read_json(path)
    return df

In [14]:
# dataframe of SVAMP dataset
df = readJsonToDf('../Datasets/SVAMP.json')

# columns of dataframe
print(list(df.columns))
df.head()

['ID', 'Body', 'Question', 'Equation', 'Answer', 'Type']

,ID,Body,Question,Equation,Answer,Type
0,chal-1,Each pack of dvds costs 76 dollars. If there i...,How much do you have to pay to buy each pack?,( 76.0 - 25.0 ),51,Subtraction
1,chal-2,Dan had $ 3 left with him after he bought a ca...,How much did the candy bar cost?,( 4.0 - 3.0 ),1,Subtraction
2,chal-3,Paco had 26 salty cookies and 17 sweet cookies...,How many salty cookies did Paco have left?,( 26.0 - 9.0 ),17,Subtraction
3,chal-4,43 children were riding on the bus. At the bus...,How many children got off the bus at the bus s...,( 43.0 - 21.0 ),22,Subtraction
4,chal-5,28 children were riding on the bus. At the bus...,How many more children got on the bus than tho...,( 30.0 - 28.0 ),2,Subtraction

In [20]:
# Make new column combining body and question.
df["BQ"] = df["Body"]+ ' ' + df["Question"]
df["BQ"][100]

'Allan brought 3 balloons and Jake brought 5 balloons to the park. Allan then bought 2 more balloons at the park. How many balloons did Allan and Jake have in the park?'

1.3.1 change typo Divison to Division

In [21]:
df.loc[ df["Type"] == "Common-Divison", "Type"] = "Common-Division"
df.loc[ df["Type"] == "Common-Division", "Type"] = "Division"
df.Type.unique()

array(['Subtraction', 'Addition', 'Multiplication', 'Division'],
      dtype=object)

1.3.2 Remove Punctuation except "?"

In [25]:
punct_toRemove = '!"#$%&\'()*+,-./:;<=>@[\\]^_`{|}~'

In [29]:
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree

#storing the puntuation free text
df['Body']= df['Body'].apply(lambda x:remove_punctuation(x))
df['Body'][1]

'Dan had  3 left with him after he bought a candy bar If he had  4 at the start'

1.3.3 Make all numbers uniform

"Thirty Five" -> "35"

1.4 Tokenize