# Import Dataset & Libraries
(single operator sentences)

In [ ]:
import spacy
import nltk
nltk.download('all')
nltk.download('averaged_perceptron_tagger')
nltk.download('punkt')

In [1]:
!pip install -U spacy==2.1.0

!python -m spacy download en

!pip install Cython --install-option="–no-cython-compile"

!pip install neuralcoref

Requirement already satisfied: spacy==2.1.0 in /usr/local/lib/python3.7/dist-packages (2.1.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy==2.1.0) (2.23.0)
Requirement already satisfied: wasabi<1.1.0,>=0.0.12 in /usr/local/lib/python3.7/dist-packages (from spacy==2.1.0) (0.9.0)
Requirement already satisfied: srsly<1.1.0,>=0.0.5 in /usr/local/lib/python3.7/dist-packages (from spacy==2.1.0) (1.0.5)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy==2.1.0) (1.21.5)
Requirement already satisfied: jsonschema<3.0.0,>=2.6.0 in /usr/local/lib/python3.7/dist-packages (from spacy==2.1.0) (2.6.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy==2.1.0) (2.0.6)
Requirement already satisfied: blis<0.3.0,>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from spacy==2.1.0) (0.2.4)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy==2.1.0) (1.0.6)
Requirement already satisfied: preshed<2.1.0,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from spacy==2.1.0) (2.0.1)
Requirement already satisfied: plac<1.0.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy==2.1.0) (0.9.6)
Requirement already satisfied: thinc<7.1.0,>=7.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy==2.1.0) (7.0.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy==2.1.0) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy==2.1.0) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy==2.1.0) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy==2.1.0) (3.0.4)
Requirement already satisfied: tqdm<5.0.0,>=4.10.0 in /usr/local/lib/python3.7/dist-packages (from thinc<7.1.0,>=7.0.2->spacy==2.1.0) (4.63.0)
Collecting en_core_web_sm==2.1.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz (11.1 MB)
     |████████████████████████████████| 11.1 MB 5.1 MB/s
✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_sm')
✔ Linking successful
/usr/local/lib/python3.7/dist-packages/en_core_web_sm -->
/usr/local/lib/python3.7/dist-packages/spacy/data/en
You can now load the model via spacy.load('en')
/usr/local/lib/python3.7/dist-packages/pip/_internal/commands/install.py:232: UserWarning: Disabling all use of wheels due to the use of --build-option / --global-option / --install-option.
  cmdoptions.check_install_build_global(options)
Requirement already satisfied: Cython in /usr/local/lib/python3.7/dist-packages (0.29.28)
Requirement already satisfied: neuralcoref in /usr/local/lib/python3.7/dist-packages (4.0)
Requirement already satisfied: spacy>=2.1.0 in /usr/local/lib/python3.7/dist-packages (from neuralcoref) (2.1.0)
Requirement already satisfied: boto3 in /usr/local/lib/python3.7/dist-packages (from neuralcoref) (1.21.13)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from neuralcoref) (2.23.0)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from neuralcoref) (1.21.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->neuralcoref) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->neuralcoref) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->neuralcoref) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->neuralcoref) (1.25.11)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.1.0->neuralcoref) (1.0.6)
Requirement already satisfied: thinc<7.1.0,>=7.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.1.0->neuralcoref) (7.0.8)
Requirement already satisfied: plac<1.0.0,>=0.9.6 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.1.0->neuralcoref) (0.9.6)
Requirement already satisfied: preshed<2.1.0,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.1.0->neuralcoref) (2.0.1)
Requirement already satisfied: jsonschema<3.0.0,>=2.6.0 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.1.0->neuralcoref) (2.6.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.1.0->neuralcoref) (2.0.6)
Requirement already satisfied: wasabi<1.1.0,>=0.0.12 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.1.0->neuralcoref) (0.9.0)
Requirement already satisfied: srsly<1.1.0,>=0.0.5 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.1.0->neuralcoref) (1.0.5)
Requirement already satisfied: blis<0.3.0,>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from spacy>=2.1.0->neuralcoref) (0.2.4)
Requirement already satisfied: tqdm<5.0.0,>=4.10.0 in /usr/local/lib/python3.7/dist-packages (from thinc<7.1.0,>=7.0.2->spacy>=2.1.0->neuralcoref) (4.63.0)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in /usr/local/lib/python3.7/dist-packages (from boto3->neuralcoref) (0.5.2)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from boto3->neuralcoref) (0.10.0)
Requirement already satisfied: botocore<1.25.0,>=1.24.13 in /usr/local/lib/python3.7/dist-packages (from boto3->neuralcoref) (1.24.13)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.7/dist-packages (from botocore<1.25.0,>=1.24.13->boto3->neuralcoref) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.25.0,>=1.24.13->boto3->neuralcoref) (1.15.0)

In [ ]:
# for POS Tagging
from nltk.tag import DefaultTagger

In [2]:
# entity recognition of sentences
# need to be able to identify entities like People or Organisations or Objects
# need to figure out relationships bw entities

import spacy
from spacy import displacy
NER = spacy.load("en_core_web_sm")

import pandas as pd
import numpy as np

In [3]:
from google.colab import files
uploaded = files.upload()

Saving singleop.json to singleop (1).json

In [4]:
dset = pd.read_json('/content/singleop.json')
print(dset.columns)

# make dataframe with just questions
dquest = dset['sQuestion'].head(15)
# print(dquest)
dquest = dquest.to_frame()
dquest.rename(columns={'sQuestion': 'questions'}, inplace=True)

print(dquest)
df = dquest

Index(['iIndex', 'lAlignments', 'lEquations', 'lSolutions', 'sQuestion'], dtype='object')
                                            questions
0   If there are 7 bottle caps in a box and Linda ...
1   Jose starts with 7 bottle caps. He gets 2 more...
2   Bridget has 4 Skittles. Henry has 4 Skittles. ...
3   Brenda starts with 7 Skittles. She buys 8 more...
4   There are 4 cards. 3 cards more are added. How...
5   There are 4 marbles. 7 marbles more are added....
6   There are 8 oranges. 8 oranges more are added....
7   Carol collects 2 peanuts. Carol's father gives...
8   There are 9 cards. 4 cards more are added. How...
9   If there are 7 bottle caps in a box and Linda ...
10  Bobby collects 2 blocks. Bobby's father gives ...
11  Peter starts with 8 erasers. Bridget gives Pet...
12  If there are 7 crayons in a box and Gerald put...
13  Michelle has 2 crayons. Janet has 2 crayons. I...
14  Anna collects 6 blocks. Anna's father gives An...

# NER (Named Entity Recognition)

In [6]:
pd.set_option('display.max_columns', None)

Try with Dataset (single Operation)

In [8]:
# raw_text = "There are 67 bird families living near the mountain. If 32 bird families flew away for winter, how many bird families were left near the mountain?"
raw_text = "If there are 7 bottle caps in a box and Linda puts 7 more bottle caps inside, how many bottle caps are in the box?"
text1 = NER(raw_text)
for word in text1.ents:
    print(word.text,word.label_)

7 CARDINAL
Linda PERSON
7 CARDINAL

In [10]:
# challenge: identifies people correctly, but couldn;t identify with birds or "the box"

raw_text = "Ram had 3 balloons. Aditi gave him 2 more. How many does he have now?"
text1 = NER(raw_text)
for word in text1.ents:
    print(word.text,word.label_)

3 CARDINAL
2 CARDINAL

In [11]:
# neuralcoref.add_to_pipe(nlp,greedyness=0.52)
# doc = nlp("Tell Sam that he will have to leave without Arthur, as he is sick.")
# print(doc._.coref_resolved)

In [12]:
# function to do NER for a raw_text
def ner(raw_text):  
  text1 = NER(raw_text)
  l = []
  for word in text1.ents:
      l.append([word.text,word.label_])
  return l

In [13]:
dquest['NER_TAG'] = dquest['questions'].apply(lambda q: ner(q))

In [14]:
print(dquest)

                                            questions  \
0   If there are 7 bottle caps in a box and Linda ...
1   Jose starts with 7 bottle caps. He gets 2 more...
2   Bridget has 4 Skittles. Henry has 4 Skittles. ...
3   Brenda starts with 7 Skittles. She buys 8 more...
4   There are 4 cards. 3 cards more are added. How...
5   There are 4 marbles. 7 marbles more are added....
6   There are 8 oranges. 8 oranges more are added....
7   Carol collects 2 peanuts. Carol's father gives...
8   There are 9 cards. 4 cards more are added. How...
9   If there are 7 bottle caps in a box and Linda ...
10  Bobby collects 2 blocks. Bobby's father gives ...
11  Peter starts with 8 erasers. Bridget gives Pet...
12  If there are 7 crayons in a box and Gerald put...
13  Michelle has 2 crayons. Janet has 2 crayons. I...
14  Anna collects 6 blocks. Anna's father gives An...

                                              NER_TAG
0     [[7, CARDINAL], [Linda, PERSON], [7, CARDINAL]]
1   [[Jose, PERSON], [7, CARDINAL], [2, CARDINAL],...
2   [[Bridget, ORG], [4, CARDINAL], [Henry, PERSON...
3   [[Brenda, PERSON], [7, CARDINAL], [8, CARDINAL...
4                      [[4, CARDINAL], [3, CARDINAL]]
5         [[4 marbles, MONEY], [7 marbles, QUANTITY]]
6                      [[8, CARDINAL], [8, CARDINAL]]
7   [[2, CARDINAL], [Carol, PERSON], [Carol 5, PRO...
8                      [[9, CARDINAL], [4, CARDINAL]]
9     [[7, CARDINAL], [Linda, PERSON], [7, CARDINAL]]
10  [[Bobby, PERSON], [2, CARDINAL], [Bobby, PERSO...
11  [[Peter, PERSON], [8, CARDINAL], [Bridget, ORG...
12   [[7, CARDINAL], [Gerald, PERSON], [6, CARDINAL]]
13  [[Michelle, ORG], [2, CARDINAL], [Janet, ORG],...
14  [[6, CARDINAL], [Anna, ORG], [Anna 8, PERSON],...

In [16]:
dquest

,questions,NER_TAG
0,If there are 7 bottle caps in a box and Linda ...,"[[7, CARDINAL], [Linda, PERSON], [7, CARDINAL]]"
1,Jose starts with 7 bottle caps. He gets 2 more...,"[[Jose, PERSON], [7, CARDINAL], [2, CARDINAL],..."
2,Bridget has 4 Skittles. Henry has 4 Skittles. ...,"[[Bridget, ORG], [4, CARDINAL], [Henry, PERSON..."
3,Brenda starts with 7 Skittles. She buys 8 more...,"[[Brenda, PERSON], [7, CARDINAL], [8, CARDINAL..."
4,There are 4 cards. 3 cards more are added. How...,"[[4, CARDINAL], [3, CARDINAL]]"
5,There are 4 marbles. 7 marbles more are added....,"[[4 marbles, MONEY], [7 marbles, QUANTITY]]"
6,There are 8 oranges. 8 oranges more are added....,"[[8, CARDINAL], [8, CARDINAL]]"
7,Carol collects 2 peanuts. Carol's father gives...,"[[2, CARDINAL], [Carol, PERSON], [Carol 5, PRO..."
8,There are 9 cards. 4 cards more are added. How...,"[[9, CARDINAL], [4, CARDINAL]]"
9,If there are 7 bottle caps in a box and Linda ...,"[[7, CARDINAL], [Linda, PERSON], [7, CARDINAL]]"
10,Bobby collects 2 blocks. Bobby's father gives ...,"[[Bobby, PERSON], [2, CARDINAL], [Bobby, PERSO..."
11,Peter starts with 8 erasers. Bridget gives Pet...,"[[Peter, PERSON], [8, CARDINAL], [Bridget, ORG..."
12,If there are 7 crayons in a box and Gerald put...,"[[7, CARDINAL], [Gerald, PERSON], [6, CARDINAL]]"
13,Michelle has 2 crayons. Janet has 2 crayons. I...,"[[Michelle, ORG], [2, CARDINAL], [Janet, ORG],..."
14,Anna collects 6 blocks. Anna's father gives An...,"[[6, CARDINAL], [Anna, ORG], [Anna 8, PERSON],..."

# POS TAGGING

Need to build model that can identify PEOPLE + OBJECTS

NER is mis-classifying people as orgs, and objects as people.

HOW TO DO THAT T_T

In [17]:
# Defining Tag
tagging = DefaultTagger('NN')

In [18]:
dquest['POS_TAG'] = dquest['questions'].apply(lambda q: tagging.tag(q))

#print(dquest)

# Make another dataframe called 'df' from dataset

In [7]:
df = pd.read_json('/content/singleop.json')
print(dset.columns)

# make dataframe with just questions
df = df['sQuestion'].tail(50)
df = df.head(20)

# print(dquest)
df = df.to_frame()
df.rename(columns={'sQuestion': 'questions'}, inplace=True)

Index(['iIndex', 'lAlignments', 'lEquations', 'lSolutions', 'sQuestion'], dtype='object')

# Replace PRONOUN w NOUN

Coref : PRONOUN ID

In [6]:
# PRONOUN REPLACEMENT : coreference resolution.
import spacy
nlp = spacy.load('en')
import neuralcoref

100%|██████████| 40155833/40155833 [00:01<00:00, 40085149.10B/s]

In [ ]:
# executes only once per runtime
neuralcoref.add_to_pipe(nlp,greedyness=0.52)

#### Function to replace pronouns in a sentence

In [53]:
def replacePronoun(sentence):
  doc = nlp(sentence)
  return doc._.coref_resolved

#### Test on entire dataset

In [68]:
df['replaced_pronoun'] = df['questions'].apply(lambda a: replace(a))

# print(df)

In [16]:
# random test -- PROBLEMATIC
# "Pam bought five apples for Sue. She then gave them to him."
doc = nlp('Pam bought five apples for Sue. Tim was nearby. She then gave them to him.')
print(doc._.coref_resolved)

Pam bought five apples for Sue. Tim was nearby. Pam then gave five apples to Tim.

#### Export as csv (optional)

In [23]:
df.to_csv("pronouned.csv", sep=',', encoding='utf-8')

# Identify Quantities (using POS TAG & after PRONOUN REPLACEMENT)

#### Import Required Libraries

In [ ]:
import spacy
import nltk
nltk.download('all')
nltk.download('averaged_perceptron_tagger')
nltk.download('punkt')

In [18]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize
stop_words = set(stopwords.words('english'))

#### Trial on Single Problem (MWP)

In [19]:
txt = "Andrew spent 3 day working on his Science report. He worked for 2.5 hours each day. How many hours did he work?"
wordsList = nltk.word_tokenize(txt)
wordsList = [w for w in wordsList if not w in stop_words]
tagged = nltk.pos_tag(wordsList)
print(tagged)

[('Andrew', 'NNP'), ('spent', 'VBD'), ('3', 'CD'), ('day', 'NN'), ('working', 'VBG'), ('Science', 'NNP'), ('report', 'NN'), ('.', '.'), ('He', 'PRP'), ('worked', 'VBD'), ('2.5', 'CD'), ('hours', 'NNS'), ('day', 'NN'), ('.', '.'), ('How', 'WRB'), ('many', 'JJ'), ('hours', 'NNS'), ('work', 'VB'), ('?', '.')]

In [20]:
NER = spacy.load("en_core_web_sm", disable=["tok2vec", "tagger", "parser", "attribute_ruler", "lemmatizer"])
text= NER(txt)
d={}
for w in text.ents:
  if w not in d:
    d[w.text] = w.label_
    
print(d)

{'Andrew': 'PERSON', '3 day': 'DATE', 'Science': 'ORG', '2.5 hours': 'TIME', 'How many hours': 'TIME'}

In [40]:
# call the pronoun replacement function
txt = replacePronoun(txt)

---------------------------------------------------------
Extract Quantities Function:

In [54]:
def getTagged(txt):

  # replace pronouns first
  txt = replacePronoun(txt)

  wordsList = nltk.word_tokenize(txt)
  wordsList = [w for w in wordsList if not w in stop_words]
  tagged = nltk.pos_tag(wordsList)
  text= NER(txt)
  d={}
  for w in text.ents:
    if w not in d:
      d[w.text] = w.label_

  s =""
  for i in tagged:
    s=s+" "+i[0]  
  unit = ("","")
  for i in range(len(tagged)-2):
    
    if tagged[i][1] == "CD":

      if tagged[i+1][1] == "NN" or tagged[i+1][1]=='NNP'  or  tagged[i+1][1]=='NNS' :
       unit = tagged[i+1]
       break;
      elif tagged[i+2][1]=='NN' or tagged[i+2][1]=='NNP' or tagged[i+2][1]=='NNS':
        unit = tagged[i+2]
        break;

  for i in range(len(tagged)-2):
    if tagged[i][1] == "CD":
      if tagged[i+1][1] != "NN"   or  tagged[i+1][1] !='NNS' :
       tagged.insert(i+1,unit)
      if tagged[i][1] == "JJ":
        tagged.insert(i+1,unit)
  
  return tagged

In [59]:
def extractQuantity(txt):  
  tagged = getTagged(txt)

  entities = list()
  qty = ""

  for i in range(len(tagged)-2):
    if tagged[i][1] == "CD":
      if tagged[i+1][1] == "NN" or tagged[i+1][1]=='NNP' or tagged[i+2][1]=='NN' or tagged[i+2][1]=='NNP' or  tagged[i+1][1]=='NNS' or tagged[i+2][1]=='NNS' :
       qty = tagged[i][0] + " "+ tagged[i+1][0]
       entities.append(qty)
       
  return entities

TEST IT:

In [60]:
# test it
extractQuantity("Andrew spent 3 day working on his Science report. He worked for 2.5 hours each day. How many hours did he work?")

[('Andrew', 'NNP'), ('spent', 'VBD'), ('3', 'CD'), ('day', 'NN'), ('day', 'NN'), ('working', 'VBG'), ('Andrew', 'NNP'), ('Science', 'NNP'), ('report', 'NN'), ('.', '.'), ('Andrew', 'NNP'), ('worked', 'VBD'), ('2.5', 'CD'), ('day', 'NN'), ('hours', 'NNS'), ('day', 'NN'), ('.', '.'), ('How', 'WRB'), ('many', 'JJ'), ('hours', 'NNS'), ('Andrew', 'NNP'), ('work', 'NN'), ('?', '.')]

['3 day', '2.5 day']

#### ON ENTIRE DATASET; add another column

In [64]:
df = pd.read_json('/content/singleop.json')
print(dset.columns)

# make dataframe with just questions
df = df['sQuestion'].tail(50)
df = df.head(20)

# print(dquest)
df = df.to_frame()
df.rename(columns={'sQuestion': 'questions'}, inplace=True)

Index(['iIndex', 'lAlignments', 'lEquations', 'lSolutions', 'sQuestion'], dtype='object')

In [65]:
# DO ON ENTIRE DATASET
df['qty_identified'] = df['questions'].apply(lambda a: extractQuantity(a))

In [66]:
df

,questions,qty_identified
512,Marie can bike at a speed of 12 miles an hour...,"[12 miles, 31 hours]"
513,Tammy drove 55 miles in one hour. At that rat...,"[55 miles, one miles, 36 hours]"
514,It takes 4 apples to make 1 pie. How many app...,"[4 apples, 1 apples, 504 pies]"
515,You have 24 cookies and want to share them eq...,"[24 cookies, 24 cookies, 6 cookies]"
516,You are reading a book with 120 pages. If you...,"[120 pages, 10 days]"
517,A cereal box holds 18 cups of cereal. Each se...,"[18 cups, 2 cups]"
518,A box of books weighs 42 pounds. Each book we...,"[42 pounds, 3 pounds]"
519,Sue’s mother made 75 cookies. She put the coo...,"[75 cookies, 75 cookies, 3 cookies]"
520,Frank worked 8 hours on the first 4 days of t...,"[8 hours, 4 hours]"
521,Sue’s family went on vacation. Her mom drove ...,"[60 mph, 5 mph]"
522,Brett drove 55 miles every hour. How many mil...,"[55 miles, 8 hours]"
523,A perfect score is 21 points. How many points...,"[21 points, 3 points]"
524,Brian’s car gets 20 miles per gallon. On his ...,"[20 miles, 3 miles]"
525,Bob’s car gets 10 kilometers per gallon. How ...,"[10 kilometers, 10 kilometers]"
526,Each cup contains 8 ounces. How many ounces a...,"[8 ounces, 33 cups]"
527,A chocolate chip cookie recipe calls for 2 cu...,"[2 cups, 23 cups]"
528,I have a pet golden retriever. Each year he g...,"[11 pounds, 8 pounds]"
529,Mary’s car gets 20 miles per gallon of gas. H...,"[20 miles, 14 miles]"
530,I walked 2 miles in 1 hour for Relay for Life...,"[2 miles, 1 miles, 8 miles]"
531,I walk 1 mile every 15 minutes. I walked 3 mi...,"[1 mile, 15 mile, 3 mile]"

# Associate Quantity w/ Actors

# Identify Relationships bw Actors